body {
  margin: 0;
  color: #333333;
}

.mo480-br {
  display: none;
}

.mo768-br {
  display: none;
}

#main-page {
  margin-top: 80px;
}

#main-page .banner-container {
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}

#main-page .banner-container .title {
  font-family: "Cocogoose";
  font-size: 64px;
  text-align: center;
  line-height: 80px;
  font-weight: 400;
}
#main-page .banner-container .title2 {
  font-weight: 800;
  font-family: "Pretendard";
  font-size: 48px;
  line-height: 60px;
  margin-top: 15px;
}

#main-page .banner-container .title strong {
  color: #19d6b4;
  /* -webkit-text-stroke: 1px #69c6b5; */
}
#main-page .banner-container .title span {
  color: #19d6b4;
}

#main-page .banner-container .sub-title {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  color: #555555;
  text-align: center;
  margin: 30px auto 30px auto;
}
#main-page .banner-container .sub-title span {
  color: #19d6b4;
  font-weight: 900;
}

#main-page .banner-container .location {
  max-width: 900px;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
}

#main-page .what-is-service-container {
  background: #19d6b4;
  color: #ffffff;
  position: relative;
  padding: 100px 0;
}
#main-page .what-is-service-container .text-wrap {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  text-align: center;
  gap: 40px;
  z-index: 10;
  position: relative;
}
#main-page .what-is-service-container .ractangle {
  width: 100%;
  max-width: 1600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-page .what-is-service-container .text-wrap .title {
  font-weight: 800;
  font-size: 64px;
  width: 100%;
  line-height: 74px;
  margin: 0;
}

#main-page .what-is-service-container .text-wrap .sub-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  margin-top: 0;
}

#main-page .concept-area-container {
  max-width: 1280px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
#main-page .concept-area-container .concept {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px 40px;
  flex-wrap: wrap;
}

#main-page .concept-area-container .item {
  width: 400px;
  box-shadow: 4px 8px 32px rgba(16, 102, 77, 0.2);
  border-radius: 40px;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

#main-page .concept-area-container .item-img {
  width: 400px;
  border-radius: 40px;
}

#main-page .concept-area-container .item .title-btn-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

#main-page .concept-area-container .item .title {
  color: #ffffff;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  width: 100%;
  text-align: center;
}

#main-page .concept-area-container .item .more-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  display: inline-flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
  background-color: #fff;
  background: #ffffff;
  border-radius: 50px;
  padding: 8px 12px;
  width: auto;
  cursor: pointer;
}
#main-page .concept-area-container .item .more-btn img {
  width: 14px;
  height: 14px;
  margin-bottom: 2px;
}

#main-page .concept-area-container .text-wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
#main-page .concept-area-container .text-wrap .main-title {
  width: 100%;
  font-family: "Pretendard";
  font-weight: 800;
  font-size: 64px;
  line-height: 80px;
  color: #19d6b4;
  margin: 0;
}
#main-page .concept-area-container .text-wrap .main-sub-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  margin-top: 25px;
  color: #19d6b4;
}

#main-page .project-result-container {
  background: #dcefea;
  padding: 100px 0;
  position: relative;
}
#main-page .project-result-container .result-box {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

#main-page .project-result-container .text-wrap {
  text-align: center;
  margin-bottom: 40px;
}
#main-page .project-result-container .text-wrap .title {
  font-family: "Pretendard";
  font-weight: 800;
  font-size: 64px;
  line-height: 80px;
  color: #333333;
}
#main-page .project-result-container .text-wrap .sub-title {
  margin-top: 30px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #555555;
}
#main-page .project-result-container .text-wrap .sub-title strong {
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
}

#main-page .project-result-container .text-wrap .sub-title span {
  font-weight: 800;
}
#main-page .project-result-container .text-wrap .more-btn {
  display: inline-flex;
  align-items: center;
  width: auto;
  justify-content: center;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  margin-top: 20px;
}
#main-page .project-result-container .text-wrap .more-btn p {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #69c6b5;
}

#main-page .project-result-container .project-result-box {
  position: relative;
  width: 93%;
  margin: 0 auto;
}
#main-page .project-result-container .project-result-slide-nav {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 40px);
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main-page
  .project-result-container
  .project-result-box
  .project-result-slide-nav
  img {
  width: 60px;
  height: 60px;
}

.swiper-button-lock {
}
.swiper {
  width: 100%;
  height: 100%;
}

.project-result-slide .swiper-slide {
  border-radius: 40px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-result-slide .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-page .community-container {
  background: #444444;
  margin: 0 auto;
}

#main-page .community-container .community-wrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

#main-page .community-container .text-wrap .title {
  font-weight: 800;
  font-size: 64px;
  width: 100%;
  line-height: 80px;
  color: #00e2ba;
}

#main-page .community-container .community-box-wrap {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#main-page .community-container .community-box-wrap .community-box {
  max-width: 730px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
#main-page
  .community-container
  .community-box-wrap
  .community-box
  .img-text-box {
  display: flex;
  padding: 0 20px;
  width: 100%;
  gap: 32px;
}
#main-page .community-container .community-box-wrap .community-box .img {
  width: 280px;
  height: 150px;
  border-radius: 20px;
  background-color: #000;
}
#main-page .community-container .community-box-wrap .community-box .line {
  border-bottom: 1px solid #777777;
  margin: 32px 0;
  width: 100%;
}

#main-page .community-container .community-box-wrap .community-box .text-wrap {
  padding: 16px 0;
  width: calc(100% - 280px);
  max-width: none;
}

#main-page
  .community-container
  .community-box-wrap
  .community-box
  .text-wrap
  .sub-title {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  color: #19d6b4;
}
#main-page
  .community-container
  .community-box-wrap
  .community-box
  .text-wrap
  .title {
  margin-top: 10px;
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

#main-page
  .community-container
  .community-box-wrap
  .community-box
  .text-wrap
  .title
  img {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
#main-page
  .community-container
  .community-box-wrap
  .community-box
  .text-wrap
  .writer {
  margin-top: 30px;
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: end;
  color: #efefef;
}
#main-page
  .community-container
  .community-box-wrap
  .community-box
  .text-wrap
  span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

@media (max-width: 1650px) {
  #main-page .what-is-service-container .ractangle {
    width: 90%;
  }
}

@media (max-width: 1280px) {
  #main-page {
    margin-top: 60px;
  }

  #main-page .banner-container {
    padding: 0 20px;
  }
  #main-page .banner-container .title {
    font-size: 60px;
    line-height: 68px;
  }
  #main-page .banner-container .title2 {
    font-size: 43px !important;
    line-height: 53px !important;
  }
  #main-page .banner-container .sub-title {
    font-size: 20px;
    line-height: 30px;
  }
  #main-page .banner-container .location {
    right: 20px;
  }

  #main-page .what-is-service-container .text-wrap .title {
    font-size: 50px;
    line-height: 65px;
  }
  #main-page .what-is-service-container .text-wrap .sub-title {
    font-size: 23px;
    line-height: 30px;
  }
  #main-page .what-is-service-container .text-wrap {
    font-size: 18.5px;
    line-height: 31px;
    padding: 0 20px;
    gap: 30px;
  }

  #main-page .concept-area-container .text-wrap .main-title,
  #main-page .project-result-container .text-wrap .title {
    font-size: 50px;
    line-height: 65px;
  }

  #main-page .concept-area-container .concept {
    gap: 35px 30px;
  }
  #main-page .concept-area-container .item {
    width: 30%;
  }
  #main-page .concept-area-container .item-img {
    width: 100%;
  }
  #main-page .concept-area-container .item .title {
    font-size: 32px;
    line-height: 40px;
  }

  #main-page .concept-area-container .text-wrap .main-sub-title {
    font-size: 26px;
    line-height: 35px;
  }

  #main-page .concept-area-container .text-wrap .main-title,
  #main-page .project-result-container .text-wrap .title {
    font-size: 50px;
    line-height: 65px;
  }

  #main-page .community-container .community-wrap {
    padding: 100px 20px;
  }

  #main-page .community-container .text-wrap .title {
    font-size: 50px;
    line-height: 65px;
  }
}

@media (max-width: 1024px) {
  #main-page {
    margin-top: 50px;
  }

  #main-page .banner-container .title,
  #main-page .what-is-service-container .text-wrap .title,
  #main-page .concept-area-container .text-wrap .main-title,
  #main-page .community-container .text-wrap .title,
  #main-page .project-result-container .text-wrap .title {
    font-size: 40px;
    line-height: 45px;
  }
  #main-page .banner-container .title2 {
    font-size: 40px !important;
    line-height: 45px !important;
  }

  #main-page .banner-container .title {
    font-size: 50px;
    line-height: 65px;
  }

  #main-page .banner-container .sub-title {
    font-size: 19px;
    line-height: 27px;
  }
  #main-page .banner-container .location {
    width: 70%;
  }

  #main-page .what-is-service-container .text-wrap {
    flex-wrap: wrap;
    word-break: keep-all;
    gap: 20px;
    width: 95%;
  }

  #main-page .what-is-service-container .text-wrap br {
    display: none;
  }

  #main-page .concept-area-container {
    gap: 35px;
  }
  #main-page .concept-area-container .concept {
    gap: 23px 20px;
  }
  #main-page .concept-area-container .item {
    border-radius: 25px;
  }
  #main-page .concept-area-container .item-img {
    border-radius: 25px;
  }
  #main-page .concept-area-container .item .title {
    font-size: 23px;
    line-height: 30px;
  }

  #main-page .concept-area-container .item .title-btn-wrap {
    gap: 10px;
  }
  #main-page .concept-area-container .item .more-btn {
    font-size: 11px;
    line-height: 11px;
    padding: 5px 10px;
  }

  #main-page
    .project-result-container
    .project-result-box
    .project-result-slide-nav
    img {
    width: 45px;
    height: 45px;
  }

  #main-page .project-result-container .text-wrap {
    max-width: none;
    width: 100%;
  }

  #main-page .community-container .community-wrap {
    gap: 70px;
  }
}

@media (max-width: 768px) {
  .mo768-br {
    display: block !important;
  }

  #main-page .banner-container .title,
  #main-page .what-is-service-container .text-wrap .title,
  #main-page .concept-area-container .text-wrap .main-title,
  #main-page .project-result-container .text-wrap .title,
  #main-page .community-container .text-wrap {
    font-size: 35px;
    line-height: 40px;
  }
  #main-page .banner-container .title2 {
    font-size: 35px !important;
    line-height: 40px !important;
  }

  #main-page .banner-container .sub-title {
    font-size: 15px;
    line-height: 22px;
  }

  #main-page .what-is-service-container .text-wrap .sub-title {
    font-size: 17px;
    line-height: 25px;
  }
  #main-page .what-is-service-container .text-wrap {
    font-size: 15px;
    line-height: 25px;
  }

  #main-page .concept-area-container .text-wrap .main-sub-title {
    font-size: 20px;
    line-height: 25px;
    margin-top: 15px;
  }
  #main-page .concept-area-container .item {
    width: 43%;
  }
  #main-page .concept-area-container .item .title {
    font-size: 21px;
    line-height: 26px;
  }

  #main-page .concept-area-container .item .more-btn {
    font-size: 10px;
    line-height: 15px;
    gap: 4px;
    padding: 4px 8px;
  }

  #main-page .concept-area-container {
    gap: 25px;
  }

  #main-page .project-result-container .text-wrap .sub-title strong {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }
  #main-page .project-result-container .text-wrap .more-btn p {
    font-family: "Pretendard";
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #69c6b5;
  }

  #main-page .project-result-container .text-wrap .sub-title {
    margin-top: 20px;
    font-size: 17px;
    line-height: 30px;
  }
  #main-page .project-result-container .text-wrap .more-btn {
    margin-top: 15px;
  }

  #main-page
    .project-result-container
    .project-result-box
    .project-result-slide-nav
    img {
    width: 35px;
    height: 35px;
  }
  #main-page .project-result-container .project-result-box {
    width: 90%;
  }

  #main-page .community-container .community-wrap {
    gap: 50px;
  }

  #main-page
    .community-container
    .community-box-wrap
    .community-box
    .img-text-box {
    flex-wrap: wrap;
    gap: 30px;
  }

  #main-page .community-container .community-box-wrap .community-box .img {
    width: 460px;
    height: 220px;
    margin: auto;
  }

  #main-page
    .community-container
    .community-box-wrap
    .community-box
    .text-wrap {
    width: 460px;
    margin: auto;
    padding: 0;
  }
  #main-page .community-container .community-box-wrap .community-box .line {
    margin: 32px auto;
    width: 480px;
  }

  #main-page
    .community-container
    .community-box-wrap
    .community-box
    .text-wrap
    .sub-title {
    font-size: 14px;
    line-height: 15px;
  }

  #main-page
    .community-container
    .community-box-wrap
    .community-box
    .text-wrap
    .title {
    font-size: 19px;
    line-height: 25px;
  }
}

@media (max-width: 680px) {
  #main-page .banner-container .title2 {
    font-size: 25px !important;
    line-height: 30px !important;
  }
  #main-page .banner-container .title,
  #main-page .what-is-service-container .text-wrap .title,
  #main-page .concept-area-container .text-wrap .main-title,
  #main-page .community-container .text-wrap {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (max-width: 480px) {
  .mo480-br {
    display: block;
  }

  #main-page {
    margin-top: 40px;
  }

  #main-page .banner-container .title,
  #main-page .what-is-service-container .text-wrap .title,
  #main-page .project-result-container .text-wrap .title,
  #main-page .concept-area-container .text-wrap .main-title,
  #main-page .community-container .text-wrap .title {
    font-size: 24px;
    line-height: 30px;
  }

  #main-page .banner-container .title2 {
    font-size: 25px !important;
    line-height: 30px !important;
  }

  #main-page .banner-container .sub-title {
    font-size: 15px;
    line-height: 22px;
  }
  #main-page .banner-container .location {
    width: 95%;
  }

  #main-page .what-is-service-container {
    background: #19d6b4;
    color: #ffffff;
    padding: 70px 0;
  }

  #main-page .what-is-service-container .text-wrap .sub-title {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 10px;
  }
  #main-page .what-is-service-container .text-wrap {
    padding: 0 17px;
    font-size: 13px;
    line-height: 23px;
    width: 100%;
  }

  #main-page .concept-area-container {
    margin: 70px auto;
  }
  #main-page .concept-area-container .text-wrap .main-sub-title {
    font-size: 18px;
    line-height: 23px;
    margin-top: 10px;
  }
  #main-page .concept-area-container .item {
    width: 90%;
    border-radius: 25px;
  }

  #main-page .concept-area-container .item .more-btn {
    line-height: 16px;
  }

  #main-page .project-result-container .text-wrap .sub-title strong {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
  }

  #main-page .project-result-container {
    padding: 70px 0;
  }

  #main-page .project-result-container .project-result-box {
    width: 85%;
  }

  #main-page .community-container .community-box-wrap .community-box .img {
    width: 460px;
    height: 175px;
  }
  .project-result-slide .swiper-slide img {
    border-radius: 30px;
  }

  #main-page
    .community-container
    .community-box-wrap
    .community-box
    .text-wrap
    .title {
    font-size: 16px;
    line-height: 20px;
  }
  #main-page
    .community-container
    .community-box-wrap
    .community-box
    .text-wrap
    .writer {
    font-size: 11px;
    line-height: 15px;
  }
}
