.btn-sm {
    font-size: 14px;
    border-radius: .1875rem;
    padding: 5px 15px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-primary {
    background-color: #f96332;
    color: #FFFFFF;
}
.float-right {
    float: right!important;
}
.page label {
    font-size: 1em;
    margin-bottom: 5px;
    color: #9a9a9a;
    display: inline-block;
}
.border {
    border: 1px solid #dee2e6!important;
}
.custom-select-sm {
    height: calc(1.8125rem + 2px);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    font-size: .875rem;
}
.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.flatpickr-input[readonly] {
    cursor: pointer;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #e3e3e3;
    color: #888;
    cursor: not-allowed;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}
.bg-white {
    background-color: #fff!important;
}
.form-control {
    background-color: transparent;
    border: 1px solid #e3e3e3;
    border-radius: 5px !important;
    color: #2c2c2c;
    line-height: normal;
    height: auto;
    font-size: 1em;
    transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    box-shadow: none;
    padding: 0.78em;
    width: 100%;
}
.position-relative {
    position: relative!important;
}
.position-absolute {
    position: absolute!important;
}
.w-75 {
    width: 75%!important;
}
img {
    max-width: 100%;
    border-radius: .1875rem;
}
.text-center {
    text-align: center!important;
}
.m-auto {
    margin: auto!important;
}
.table > thead > tr > th {
    border-bottom-width: 1px;
    font-size: 1.1em !important;
    font-weight: bold !important;
    border: 0;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 12px 7px;
    vertical-align: middle;
}
table{
    text-align: left;
}
.button4 {
    background-color: white;
    color: #5D6369;
    border: 1px solid #CED4DA;
}

.button {
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 15px;
    border-radius: 0.1875rem;
    padding: 7.5px 15px;
}


@media (min-width: 992px){
    .modal-lg, .modal-xl {
        max-width: 800px;
    }
}
@media (min-width: 768px){
    .d-md-block {
        display: block!important;
    }
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .mt-md-auto, .my-md-auto {
        margin-top: auto!important;
    }
    .pt-md-1, .py-md-1 {
        padding: 0.8em 0 !important;
    }
}